body{
    background-color: darkorange
    
}
#header{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}
#content{    
    width: 65%;
    float: right;
    

}
#con1{
    color:black;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
}

footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}


  

